.join-now{
  position: relative;
  background-color: #E9E8E6;
  @media(max-width: 992px){
    overflow: hidden;
  }
  &__inner{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    padding: 100px 0 125px;
    @media(max-width: 434px){
      padding: 40px 0;
    }
  }
  &__img{
    position: absolute;
    left: 0;
    bottom: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    @media(max-width: 992px){
      width: 160%;
    }
    @media(max-width: 676px){
      width: 225%;
    }
    @media(max-width: 434px){
      width: 280%;
    }
  }
}