<section class="breathing">
  <div class="container">
    <div class="breathing__inner">
      <div class="section-content">
        <h4 class="section-content__title">Yoga Breathing or Pranayama</h4>
        <div class="section-content__text">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, quia? Officia nostrum omnis beatae itaque!</p>
        </div>
        <a class="button" href="#">learn more</a>
      </div>
      <div class="breathing__column">
        <img class="breathing__img" src="./img/breathing/yoga-girl.jpg" alt="breathing-yoga">
        <div class="breathing__decor breathing__decor_image-left-top">
          <img class="breathing__decor breathing__decor-1" src="./img/breathing/left-top-brush.png" alt="breathing-decor-element">
          <img class="breathing__decor breathing__decor-2" src="./img/breathing/left-top-image.png" alt="breathing-decor-element">
        </div>
        <div class="breathing__decor breathing__decor_image-right-top">
          <img class="breathing__decor breathing__decor-3" src="./img/breathing/right-top.png" alt="breathing-decor-element">
          <img class="breathing__decor breathing__decor-4" src="./img/breathing/right-top-shape.png" alt="breathing-decor-element">
        </div>
        <img class="breathing__decor breathing__decor-5" src="./img/breathing/left-bottom-image.png" alt="breathing-decor-element">
        <div class="breathing__decor breathing__decor_image-right-bottom">
          <img class="breathing__decor breathing__decor-6" src="./img/breathing/right-bottom-brush.png" alt="breathing-decor-element">
          <img class="breathing__decor breathing__decor-7" src="./img/breathing/right-bottom-shape.png" alt="breathing-decor-element">
        </div>
      </div>
    </div>
  </div>
  <div class="breathing__decor breathing__decor_left-top">
    <img class="breathing__decor breathing__decor-8" src="./img/breathing/left-top-shape.png" alt="breathing-decor-element">
    <img class="breathing__decor breathing__decor-9" src="./img/breathing/left-top.png" alt="breathing-decor-element">
  </div>
  <div class="breathing__decor breathing__decor_left-bottom">
    <img class="breathing__decor breathing__decor-10" src="./img/breathing/left-bottom-brush.png" alt="breathing-decor-element">
    <img class="breathing__decor breathing__decor-11" src="./img/breathing/left-bottom.png" alt="breathing-decor-element">
  </div>
</section>