<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__company">
        <h5 class="footer__title">Your company</h5>
        <div class="footer__text">Halimun Street 25 jakarta, Indonesia 12850</div>
        <div class="footer__text">www.yourdomain.com</div>
      </div>
      <div class="footer__column">
        <ul class="footer-list">
          <li class="footer-list__title">Sitemap</li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Home</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">About</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Blog</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Menu</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Store</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <ul class="footer-list">
          <li class="footer-list__title">Lorem Ipsum</li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Neque</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Suspendisse</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Lorem.</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Lorem, ipsum.</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Lorem.</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Lorem.</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <ul class="footer-list">
          <li class="footer-list__title">SitAmet</li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Lorem.</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Lorem</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Lorem</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Lorem</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Lorem</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="#">Lorem</a>
          </li>
        </ul>
      </div>
      <div class="footer-copy">
        <img class="footer-logo" src="../img/footer/footer-logo.png" alt="footer-logo">
        <div class="footer__text">Copyright &copy; 2020 Freepik</div>
        <div class="footer__text">Company S.L. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>