<section class="gallery">
  <div class="container">
    <div class="gallery__inner">
      <div class="gallery__decor gallery__decor_right-bottom">
        <img class="gallery__decor gallery__decor-8" src="../img/gallery/right-bottom-brush.png" alt="gallery-decor-element">
        <img class="gallery__decor gallery__decor-9" src="../img/gallery/right-bottom-floral.png" alt="gallery-decor-element">
      </div>
      <div class="gallery__decor gallery__decor_left-top">
        <img class="gallery__decor gallery__decor-6" src="../img/gallery/left-top-floral.png" alt="gallery-decor-element">
        <img class="gallery__decor gallery__decor-7" src="../img/gallery/left-top-brush.png" alt="gallery-decor-element">
      </div>
      <div class="gallery__header">
        <h5 class="gallery__title">Galery</h5>
        <div class="gallery__subtitle">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae unde culpa impedit fugiat perspiciatis nam cupiditate velit perferendis est mollitia?</p>
        </div>
      </div>
      <div class="gallery__row">
        <div class="gallery__column">
          <div class="galery__picture">
            <img class="gallery__img" src="../img/gallery/img-1.jpg" alt="gallery-img">
          </div>
          <div class="gallery__content">
            <div class="gallery__name">Facilis Gravida</div>
            <div class="gallery__text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, nemo?</p>
            </div>
          </div>
        </div>
        <div class="gallery__column">
          <div class="galery__picture">
            <img class="gallery__img" src="../img/gallery/img-2.jpg" alt="gallery-img">
          </div>
          <div class="gallery__content">
            <div class="gallery__name">Facilis Gravida</div>
            <div class="gallery__text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, nemo?</p>
            </div>
          </div>
        </div>
        <div class="gallery__column">
          <div class="galery__picture">
            <img class="gallery__img" src="../img/gallery/img-3.jpg" alt="gallery-img">
          </div>
          <div class="gallery__content">
            <div class="gallery__name">Facilis Gravida</div>
            <div class="gallery__text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, nemo?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery__decor gallery__decor_left-bottom">
    <img class="gallery__decor gallery__decor-1" src="../img/gallery/left-bottom-shape.png" alt="gallery-decor-element">
    <img class="gallery__decor gallery__decor-2" src="../img/gallery/left-bottom.png" alt="gallery-decor-element">
  </div>
  <div class="gallery__decor gallery__decor_right-top">
    <img class="gallery__decor gallery__decor-3" src="../img/gallery/right-top-shape-2.png" alt="gallery-decor-element">
    <img class="gallery__decor gallery__decor-4" src="../img/gallery/right-top-shape.png" alt="gallery-decor-element">
    <img class="gallery__decor gallery__decor-5" src="../img/gallery/right-top-floral.png" alt="gallery-decor-element">
  </div>
</section>