<section class="intro">
  <div class="container">
    <div class="intro__inner">
      <div class="intro__body">
        <div class="intro__column">
          <img class="intro__img" src="./img/intro/yoga-girl.png" alt="yoga-balance-image"/>
          <img class="intro__decor intro__decor-1" src="./img/intro/Shape-2.png" alt="decor-element"/>
          <img class="intro__decor intro__decor-2" src="./img/intro/Floral-1.png" alt="decor-element"/>
        </div>
        <div class="intro__content">
          <h1 class="intro__title">Balance Your Body and Mind</h1>
          <div class="intro__text">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
          </div>
          <a class="button" href="#" >join us now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="intro__decor intro__decor_left-top">
    <img class="intro__decor intro__decor-3" src="./img/intro/Shape.png" alt="decor-element">
    <img class="intro__decor intro__decor-4" src="./img/intro/Floral.png" alt="decor-element">
  </div>
  <div class="intro__decor intro__decor_right-top">
    <img class="intro__decor intro__decor-5" src="./img/intro/right-top-shape.png" alt="decor-element">
    <img class="intro__decor intro__decor-6" src="./img/intro/Floral-2.png" alt="decor-element">
    <img class="intro__decor intro__decor-7" src="./img/intro/right-top.png" alt="decor-element">
  </div>
  <div class="intro__decor intro__decor_right-bottom">
    <img class="intro__decor intro__decor-8" src="./img/intro/Brush-1.png" alt="decor-element">
    <img class="intro__decor intro__decor-9" src="./img/intro/Shape-4.png" alt="decor-element">
    <img class="intro__decor intro__decor-10" src="./img/intro/Floral-3.png" alt="decor-element">
  </div>
</section>