<section class="join-now">
  <div class="container">
    <div class="join-now__inner">
      <div class="section-content">
        <h4 class="section-content__title">Join Now and Get 50% Off</h4>
        <div class="section-content__text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi suscipit et reprehenderit atque, voluptatibus voluptates vero vitae placeat doloremque saepe. Placeat nobis voluptatibus dignissimos consectetur!</p>
        </div>
        <a class="button" href="#">join now</a>
      </div>
    </div>
  </div>
  <img class="join-now__img" src="./img/joinNow/girl-image.jpg" alt="join-now-yoga">
</section>