<section class="programs">
  <div class="container">
    <div class="programs__inner">
      <div class="programs__row">
        <div class="programs__column">
          <div class="programs__img">
            <img class="programs__icon" src="./img/programs/icon-1.png" alt="program-icon">
            <img class="programs__decor" src="./img/programs/brush-1.png" alt="programs-icon-decor">
          </div>
          <h5 class="programs__title">Program 1</h5>
          <div class="programs__text">
            <p>sint occaecat cupidatat non Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos amet reprehenderit incidunt eum optio ipsum.</p>
          </div>
        </div>
        <div class="programs__column">
          <div class="programs__img">
            <img class="programs__icon" src="./img/programs/icon-2.png" alt="program-icon">
            <img class="programs__decor" src="./img/programs/brush-2.png" alt="programs-icon-decor">
          </div>
          <h5 class="programs__title">Program 2</h5>
          <div class="programs__text">
            <p>sint occaecat cupidatat non</p>
          </div>
        </div>
        <div class="programs__column">
          <div class="programs__img">
            <img class="programs__icon" src="./img/programs/icon-3.png" alt="program-icon">
            <img class="programs__decor" src="./img/programs/brush-3.png" alt="programs-icon-decor">
          </div>
          <h5 class="programs__title">Program 3</h5>
          <div class="programs__text">
            <p>sint occaecat cupidatat non</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>