<section class="video">
  <div class="container">
    <div class="video__inner">
      <div class="video__column">
        <svg class="play-icon">
          <use xlink:href="#play-icon"></use>
        </svg>
        <img class="video__preview" src="./img/video/video-preview.jpg" alt="video-preview" />
      </div>
      <div class="section-content">
        <h4 class="section-content__title">Yoga Training Video Showreel</h4>
        <div class="section-content__text">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel dignissimos nulla enim pariatur vero. Alias voluptas ea rem quasi magnam sapiente mollitia fugit officia sequi!</p>
        </div>
      </div>
    </div>
  </div>
</section>