.section-content{
  position: relative;
  z-index: 2;
  width: 45%;
  &__title{
    margin-bottom: 45px;
  }
  &__text{
    margin-bottom: 50px;
  }
  
  @media(max-width: 992px){
    width: 100%;
  }
}


@media(max-width: 992px){
  .section-content{
    width: 100%;
  }
}